
body {
    margin: 0;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    background-color: FFFFFF;
}

img {
    width: 100px;
}

#hero-section {
    color: antiquewhite;
    text-shadow: 2px 2px #000000;
    background-image: url(/images/hero-background.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#activities-section {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.font-txt {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.img-round {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.space {
    padding-top: 40px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.tour-guide {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center; 
    color: #FFFFFF;
    background-color: #353535;
    border-bottom: 7px solid #284B63;
}

.img-avatar {
    width: 150px;
    border-radius: 10px;
}

